<section
  class="grid-section"
  *ngIf="gridRows$ | async as gridRows; else emptyState ?? defaultEmptyState"
>
  <table class="table" ta='exercise-grid'>
    <tr class="table__row table__row_header" ta='exercise-grid__row'>
      <th *ngFor="let header of headers$ | async" ta='exercise-grid__header'>{{ header }}</th>
      <th class="menu-item" ta='exercise-grid__header-context-menu'>
        <button [wktDropdownTriggerFor]="headerDropdown" class="menu-trigger" ta='exercise-grid__header-context-menu-trigger'>
          <ng-container [ngTemplateOutlet]="threeDots"></ng-container>
        </button>
        <wkt-drop-down-menu #headerDropdown>
          <wkt-header-menu-drop-down
            [colDefs]="colDefs$ | async"
            (changes)="onColumnSelectionChanges($event)"
          ></wkt-header-menu-drop-down>
        </wkt-drop-down-menu>
      </th>
    </tr>
    <tr *ngFor="let row of gridRows; trackBy: trackByRowFn" class="table__row" ta='exercise-grid__row'>
      <td *ngFor="let cell of row; trackBy: trackByCellFn"  ta='exercise-grid__cell'>
        <ng-container
          [ngTemplateOutlet]="cell.cellTemplate ?? simpleTemplate"
          [ngTemplateOutletContext]="{ $implicit: cell.value }"
        ></ng-container>
        <ng-template #simpleTemplate let-cellValue
          ><span>{{ cellValue }}</span></ng-template
        >
      </td>
      <td class="menu-item" ta='exercise-grid__row-context-menu'>
        <ng-container *ngIf="rowItemMenu">
          <button
            #wktDropdown="wktDropdown"
            [wktDropdownTriggerFor]="rowItemDropdown"
            class="menu-trigger"
            ta='exercise-grid__row-context-menu-trigger'
          >
            <ng-container [ngTemplateOutlet]="threeDots"></ng-container>
          </button>
          <wkt-drop-down-menu #rowItemDropdown>
            <ng-container
              [ngTemplateOutlet]="rowItemMenu"
              [ngTemplateOutletContext]="{
                $implicit: row,
                closeEmitter: rowItemDropdown.closed,
                closed$: wktDropdown.closed$
              }"
            ></ng-container>
          </wkt-drop-down-menu>
        </ng-container>
      </td>
    </tr>
  </table>
</section>

<ng-template #defaultEmptyState>
  <wkt-empty-state>
    <span empty-state-title>Empty</span>
    <span empty-state-description>No rows to display</span>
  </wkt-empty-state>
</ng-template>

<ng-template #threeDots>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-three-dots"
    viewBox="0 0 16 16"
  >
    <path
      d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
    />
  </svg>
</ng-template>
