:host {
  display: flex;
  align-items: center;
  height: 180px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 2px -2px lightgray;
}

h1 {
  margin-top: 0;
}

.subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
}
